.list-group-item {
  line-height: 2.5;
}



#medicalStaff  {
  height:  750px;
  width:  750px;
  position: relative;
  bottom : 280px;
  opacity: .18;
}

#stats{
  position: relative;
  left: 900px;
  padding: 5px;
  border: 5px solid lawngreen;
}

