<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2</title>
    <!-- css to reset the default styles -->
    <link rel="stylesheet" href="/styles/reset.css">

    <!-- link to materialize  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- link to fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Francois+One&display=swap" rel="stylesheet">

    <!-- css for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <!-- link to css in the page -->
    <link rel="stylesheet" href="/styles/indexStyle.css">

</head>


<body>
  <div id = "mainContainer">
    <div  class="container">
        <div class="row">
            <h1 id = "appName">ABCDEF</h1>
        </div>

        <!-- section for the search option and lognin -->
        <div class="row">
            <!-- section for the search option -->
            <div class="col l6 m12 s12">
                <!-- <div class="row"> -->
                    <form id = "searchForm">
                       <div class="row">
                            <input id ="searchText" type="text" placeholder="Search">

                            <button id = "btnSearch" type="submit" class="btn"><i class="material-icons">search</i></button>
                       </div>
                      
                    </form>
                <!-- </div> -->
            </div>

            <!-- This section is for the log in window  -->
            <div class="col l5 offset-l1 s12 m12">
                <form id = logInForm>
                    <div class="row">
                        <label for="userName">Username</label>
                        <input id = "userName" type="text" placeholder="Username">
                       

                        <button id = "btnLogIn" type = "submit" class="btn light-blue accent-4">Sign In</button>
                        <br>
                        <br>
                        <br>

                        <a id ="createProfile" class = "modal-trigger" href="#userProfile">Create Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <!-- Modal Structure -->
    <div id="userProfile" class="modal">
            <div class="modal-content">
                <h4 class="light-blue accent-1">Sign Up</h4>
                <form id = "frmCreateProfile">
                    <div class="row">
                        <div class="col l5  m8 s12">
                            <input class = "frmFields" id = "firstName" type="text" placeholder="First Name">
                        </div>
                        <div class="col l5 offset-l1 m8 s12">
                            <input class = "frmFields" id = "lastName" type="text" placeholder="Last Name">
                         </div>   
                    </div>    

                    <div class="row">
                         <div class="col l5 m8 s12">
                            <input class = "frmFields" id = "uName"type="text" placeholder="Username">
                         </div>
                    </div>

                    <div class="row">
                        <div class="col l5 m8 s12">
                           <input class = "frmFields" id = "illness"type="text" placeholder="Illness">
                        </div>
                   </div>

                    <div class="row">
                         <div class="col l5 m8 s12">
                            <input class = "frmFields" id = "city" type="text" placeholder="City">
                        </div>
    
                        <div class="col l5 offset-l1 m8 s12">
                            <input class = "frmFields" id = "state" type="text" placeholder="State">
                        </div>
                    </div>                                                                    
                    
                </form>
            </div>
            <div class="modal-footer">
                <button id = "btnSignUp" type="submit" class="btn blue">Sign Up</button>
            </div>
        </div>
    
  </div>



    <!-- attach jquery library -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- javascript for materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type = "text/javascript" src="/js/index.js"></script>
</body>


 
</html>