<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2</title>
    <!-- css to reset the default styles -->
    <link rel="stylesheet" href="../public/styles/reset.css">

    <!-- link to materialize  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- link to fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Francois+One&display=swap" rel="stylesheet">

    <!-- link to css in the page -->
    <link rel="stylesheet" href="../public/styles/styles.css">

</head>


<body>
  <div id = "mainContainer">
    <div  class="container">
        <div class="row">
            <h1 id = "appName">ABCEDF</h1>
        </div>

        <!-- section for the search option and lognin -->
        <div class="row">
            <!-- section for the search option -->
            <div class="col l6 m12 s12">
                <div class="row">
                    <form id = "searchForm">
                       
                        <input id ="searchText" type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>


    <!-- javascript for materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>