<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- materialize CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- JS materialize  link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- CSS Link -->
  <link rel="stylesheet" href="../public/styles/styles.css">
  <title>Document</title>
</head>
<body>
  
  
  <div class="jumbotron">
   <h3>Welcome Back to your page.</h3>
    </div>

  <h5>We hope you are feeling ok. Here are your stats and others who share your illness.  We hope  you can find 
   comfort in sharing your story with others. </h5>

   <div class="card-medium">
   <div id='stats'>
   <h6>Your stats</h6>
   <ul>
     <li>First Name:<div id="first"></div></li>
     <li>Last Name:<div id="last"></div></li>
      <li>City:<div id="city"></div></li>
      <li>State:<div id="state"></div></li>
      <li>Illness:<div id="illness"></div></li>
    </ul>
  </div>
   </div>

  <div id='articles'>
  <h5>Here are some great articles about your illness to see what is in the news:</h5>
  </div>
  
  
<img src='./images/staff.png' id='medicalStaff'>


</body>
</html>