
body,html{
    height: 100%;
  }
  #mainContainer{
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/background.png"); */
    /* background-repeat: no-repeat; */
    /* background-size : cover;  */
    height: 100%;
  }

  #mainContainer::before{
    background:url("../images/background.png") no-repeat center center fixed;
    display: block; content:""; position: absolute; z-index:-4;
    top:0; left: 0; right: 0; height: 100%;
    opacity:0.2;
    background-size: cover;
    }


  #appName{
    font-family: 'Francois One', sans-serif;
    font-size: 100px;
    /* margin-top: 3%; */
    margin: 3%;
  }
  
  #searchForm{
    margin: 10%;
  }

  #searchText{
    border: 2px solid black ;
    background-color: white;
    height: 30px;
    width: 80%;
    border-radius: 10px;
  }
  
  #btnSearch{    
    float: right;
    background-color:rgb(160, 154, 154);    
    position: relative;
    font-size: 10px;
  }

  #logInForm{
      border: solid 1px black;
      background-color: rgb(5, 65, 105);
       /* opacity: 0.7; */
      width: 100%;
      padding: 40px 40px 10px 40px;
      height: 100vh;
  }

  #userName, #password{
    border: 1px solid ;
    background-color: white;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 5px;
  }

  label{
    font-size: 13px;
    color: white;
    font-weight: bold;
   
  }

  #btnLogIn{
      width: 40%;
      
  }

  #createProfile{
      width: 40%;
      position: relative;   
      color: black;
      font-weight: bold;
  }

  #userProfile{
      width: 50%;
      top: 25%;
      border: solid 1px ;
  }

  #closeBtnRow{
    margin-bottom: 0;
    font-size: 12px;
  }

  #btnSignUp{
    background-color: rgb(5, 65, 105);
  }


  .profileHeading{
      text-align: center;
      padding: 10px; 
      font-family: 'Francois One', sans-serif;
      background-color: rgb(5, 65, 105);
      margin-top:0;
      border-radius: 5px;
      font-size: 18px;
      color: white;
  }

  .listItem{
    font-size: 18px;
    padding: 15px;
  }

  #articles{
    /* margin-top: 50px; */
    margin-left: 50px;
  }

  .url{
    font-size : 20px;
    font-weight: bolder;
    width: 100%;
    color: black;
    /* text-align: center; */
  }

  #carouselItem{
    height: 300px;
    width: 400px;
    text-align: center;
    z-index: 100;
  }

  #communitDesc{
    font-family:'Francois One', sans-serif; 
    font-size: 18px;
    line-height: 30px;
    margin: 3%;
  }

  .modal-content{
    padding: 10px;
  }